page-home{

	}
	.background{
		background: #49c1f3;
background-size:400% 400%;

}

.scroll-content{
	   text-align: center;
   }

	 ion-card.card{
  background: #ffffff;
  border-radius: 10px;
  }

 .item{
   background: rgba(232, 230, 230, 0px);
 }

 ion-input{
 border-bottom: #b1b1bc solid 1px;
 }

h3{
	color:#fff;
	font-size: 3em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: lighter;
}
