


.hrwicon{
	weidht:30px;
	height:30px;
	float: right;
	margin-left:300px;	
}


.backgroundhome{
	background: color($colors, weiss);
}

.card-color{
		background: color($colors, weiss);
	     height:300px;

}

.chart-pos{
	margin-top:40px;
}


.button-puls{
	margin-left:100px;
	width: 40%;
	background-color: #5c64f2;
}

.button-tipps{
	margin-left:100px;
	width: 40%;
	background-color: #4CAF50;
}

.style-btn{
width:100%;
height:100%;
background: linear-gradient(10deg,#5d65ea,#4EE7FC);
}

.styleTipps{
	width:100%;
height:100%;
background: linear-gradient(10deg,#1ae05c,#35f2cf);
}

page-login {


}
